
body {
  background-color: rgb(233, 235, 238);
}

/* Custom navbar style */
.navbar-connect {
  background-color: #6D83B2;
  border-color: #6D83B2;
  border-radius: 0px;
}

/* Make the logo fit inside the navbar */
.navbar-brand > img {
  height: 100%;
}

.navbar-brand-center {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

/* An item in the recent activity feed */
.feed-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

/* The container for a circle message */
.message-container {
  margin-bottom: 15px;
}

/* Style links within the message container */
.message-container a {
  font-weight: 500;
  color: #000;
}

/* The container for the name, time and message (not incl the profile image) */
.message-content {
  margin-left: 50px; /* Offset past the profile image and incl a gap */
}

/* Make links within the feed item stand out */
.feed-item a{
  font-weight: 500;
  color: rgb(54, 88, 153);
}

/* The title of the feed item */
.feed-item-title {
  color: #777;
}

/* The string containing the time of the feed item */
.feed-item-time {
  color: #999;
  font-size: 11px;
}

/* Make profile image display properly within the feed item */
img.profile-image {
  float: left;
  margin-right: 7px;
  width: 40px;
  height: 40px;
}

/* Styling for the actual content of the feed item */
.feed-item-content {
  margin: 10px 0px;
}
.feed-item-content img{
  border: 1px solid #333;
  width: 100%;
}

.circle-container {
  padding: 5px;
}

/* A circle which contains some text */
.circle {
  width: 100%;
  height: 0;
  padding: 50% 0%;
  border-radius: 250px;
  text-align: center;
  background-color: #337ab7;
  border: 1px solid #999;
  color: #fff;
}

a .circle:hover {
  background-color: rgb(40, 96, 144);
}

/* The text inside the circle */
.circle-text {
  font-size: 18px;
  margin-top: -10%;
  vertical-align: middle;
}

/* Removes text decoration from an element */
.no-underline:hover, .no-underline:visited {
  text-decoration: none;
}

/* Crops and centers an image into a square. Used for profile images.
    Note: to make a thumbnail, use this class in conjunction with another which sets the
    background-image to be the image you want scaled. */
.img-thumb {
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 0;
  padding: 50% 0%;
  border-radius: 10px;
}

/* The name underneath a profile picture in various views */
.profile-name {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 10px;
}

/* The title of a circle page */
.circle-title {
  padding-bottom: 15px;
}
